com.liferay.poshi.ide.core/resources/poshi-base.xsd

<?xml version="1.0"?>

<xsd:schema
	elementFormDefault="qualified"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
>

	<xsd:attribute name="addSelection" type="xsd:string"/>
	<xsd:attribute name="arg1" type="xsd:string"/>
	<xsd:attribute name="arg2" type="xsd:string"/>
	<xsd:attribute name="argument1" type="xsd:string"/>
	<xsd:attribute name="argument2" type="xsd:string"/>
	<xsd:attribute name="attribute" type="xsd:string"/>
	<xsd:attribute name="component-name" type="xsd:string"/>
	<xsd:attribute name="default" type="xsd:string"/>
	<xsd:attribute name="description" type="xsd:string"/>
	<xsd:attribute name="extends" type="xsd:string"/>
	<xsd:attribute name="function" type="xsd:string"/>
	<xsd:attribute name="group" type="xsd:string"/>
	<xsd:attribute name="ignore" type="xsd:string"/>
	<xsd:attribute name="ignore-command-names" type="xsd:string"/>
	<xsd:attribute name="input" type="xsd:string"/>
	<xsd:attribute name="known-issues" type="xsd:string"/>
	<xsd:attribute name="list" type="xsd:string"/>
	<xsd:attribute name="locator" type="xsd:string"/>
	<xsd:attribute name="locator1" type="xsd:string"/>
	<xsd:attribute name="locator2" type="xsd:string"/>
	<xsd:attribute name="macro" type="xsd:string"/>
	<xsd:attribute name="macro-desktop" type="xsd:string"/>
	<xsd:attribute name="macro-mobile" type="xsd:string"/>
	<xsd:attribute name="macro-summary" type="xsd:string"/>
	<xsd:attribute name="message" type="xsd:string"/>
	<xsd:attribute name="method" type="xsd:string"/>
	<xsd:attribute name="name" type="xsd:string"/>
	<xsd:attribute name="param" type="xsd:string"/>
	<xsd:attribute name="pattern" type="xsd:string"/>
	<xsd:attribute name="priority" type="xsd:string"/>
	<xsd:attribute name="property-value" type="xsd:string"/>
	<xsd:attribute name="selenium" type="xsd:string"/>
	<xsd:attribute name="string" type="xsd:string"/>
	<xsd:attribute name="substring" type="xsd:string"/>
	<xsd:attribute name="summary" type="xsd:string"/>
	<xsd:attribute name="summary-ignore" type="xsd:string"/>
	<xsd:attribute name="test-case" type="xsd:string"/>
	<xsd:attribute name="value" type="xsd:string"/>
	<xsd:attribute name="value1" type="xsd:string"/>
	<xsd:attribute name="var" type="xsd:string"/>

	<xsd:element name="and">
		<xsd:complexType>
			<xsd:sequence>
                <xsd:any minOccurs="0" maxOccurs="unbounded" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="command">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:any minOccurs="0" maxOccurs="unbounded" />
			</xsd:sequence>
			<xsd:attribute ref="name" />
			<xsd:attribute ref="known-issues" />
			<xsd:attribute ref="priority" />
            <xsd:attribute ref="description" />
            <xsd:attribute ref="summary" />
            <xsd:attribute ref="summary-ignore" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="contains">
		<xsd:complexType>
			<xsd:attribute ref="string" />
			<xsd:attribute ref="substring" />
		</xsd:complexType>
	</xsd:element>

    <xsd:element name="condition">
        <xsd:complexType>
            <xsd:attribute ref="argument1" />
            <xsd:attribute ref="function" />
            <xsd:attribute ref="selenium" />
            <xsd:attribute ref="locator1" />
            <xsd:attribute ref="value1" />
        </xsd:complexType>
    </xsd:element>

	<xsd:element name="definition">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="property" minOccurs="0" maxOccurs="unbounded" />
                <xsd:element ref="var" minOccurs="0" maxOccurs="unbounded" />
                <xsd:element ref="set-up" minOccurs="0" maxOccurs="unbounded" />
                <xsd:element ref="tear-down" minOccurs="0" maxOccurs="unbounded" />
                <xsd:element ref="command" minOccurs="0" maxOccurs="unbounded" />
			</xsd:sequence>
			<xsd:attribute ref="component-name" />
			<xsd:attribute ref="default" />
            <xsd:attribute ref="extends" />
            <xsd:attribute ref="ignore" />
            <xsd:attribute ref="ignore-command-names" />
            <xsd:attribute ref="summary" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="description">
		<xsd:complexType>
			<xsd:attribute ref="message" use="required" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="echo">
		<xsd:complexType>
			<xsd:attribute ref="message" use="required" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="else">
		<xsd:complexType>
			<xsd:sequence>
                <xsd:any minOccurs="0" maxOccurs="unbounded" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="elseif">
		<xsd:complexType>
			<xsd:sequence>
                <xsd:element ref="condition" minOccurs="0" maxOccurs="unbounded" />
                <xsd:element ref="contains" minOccurs="0" maxOccurs="unbounded" />
				<xsd:element ref="equals" minOccurs="0" maxOccurs="unbounded" />
				<xsd:element ref="isset" minOccurs="0" maxOccurs="unbounded" />
                <xsd:element ref="or" minOccurs="0" maxOccurs="unbounded" />
                <xsd:element ref="not" minOccurs="0" maxOccurs="unbounded" />
                <xsd:element ref="and" minOccurs="0" maxOccurs="unbounded" />
				<xsd:element ref="then" minOccurs="0" maxOccurs="unbounded" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="equals">
		<xsd:complexType>
			<xsd:attribute ref="arg1" />
			<xsd:attribute ref="arg2" />
		</xsd:complexType>
	</xsd:element>

    <xsd:element name="fail">
        <xsd:complexType>
            <xsd:attribute ref="message" />
        </xsd:complexType>
    </xsd:element>

	<xsd:element name="execute">
		<xsd:complexType>
			<xsd:choice>
				<xsd:element ref="var" minOccurs="0" maxOccurs="unbounded" />
			</xsd:choice>
			<xsd:attribute ref="argument1" />
			<xsd:attribute ref="argument2" />
			<xsd:attribute ref="function" />
			<xsd:attribute ref="locator1" />
			<xsd:attribute ref="locator2" />
			<xsd:attribute ref="macro" />
			<xsd:attribute ref="macro-desktop" />
			<xsd:attribute ref="macro-mobile" />
			<xsd:attribute ref="selenium" />
			<xsd:attribute ref="value1" />
            <xsd:attribute ref="test-case" />
		</xsd:complexType>
	</xsd:element>

    <xsd:element name="for">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:any minOccurs="0" maxOccurs="unbounded" />
            </xsd:sequence>
            <xsd:attribute ref="list" />
            <xsd:attribute ref="param" />
        </xsd:complexType>
    </xsd:element>

	<xsd:element name="if">
		<xsd:complexType>
			<xsd:sequence>
                <xsd:any minOccurs="0" maxOccurs="unbounded" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="isset">
		<xsd:complexType>
			<xsd:attribute ref="var" use="required" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="not">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="or" minOccurs="0" maxOccurs="unbounded" />
                <xsd:element ref="condition" minOccurs="0" maxOccurs="unbounded" />
                <xsd:element ref="contains" minOccurs="0" maxOccurs="unbounded" />
                <xsd:element ref="equals" minOccurs="0" maxOccurs="unbounded" />
                <xsd:element ref="and" minOccurs="0" maxOccurs="unbounded" />
                <xsd:element ref="isset" minOccurs="0" maxOccurs="unbounded" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="or">
		<xsd:complexType>
			<xsd:sequence>
                <xsd:element ref="or" minOccurs="0" maxOccurs="unbounded" />
                <xsd:element ref="isset" minOccurs="0" maxOccurs="unbounded" />
				<xsd:element ref="condition" minOccurs="0" maxOccurs="unbounded" />
                <xsd:element ref="contains" minOccurs="0" maxOccurs="unbounded" />
				<xsd:element ref="equals" minOccurs="0" maxOccurs="unbounded" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="property">
		<xsd:complexType>
			<xsd:attribute ref="name" use="required" />
			<xsd:attribute ref="value" use="required" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="set-up">
		<xsd:complexType>
			<xsd:sequence>
                <xsd:element ref="echo" minOccurs="0" maxOccurs="unbounded" />
                <xsd:element ref="var" minOccurs="0" maxOccurs="unbounded" />
				<xsd:element ref="execute" minOccurs="0" maxOccurs="unbounded" />
                <xsd:element ref="if" minOccurs="0" maxOccurs="unbounded" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="take-screenshot" />

    <xsd:element name="task">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="execute" minOccurs="0" maxOccurs="unbounded" />
            </xsd:sequence>
            <xsd:attribute ref="macro-summary"/>
            <xsd:attribute ref="summary"/>
        </xsd:complexType>
    </xsd:element>

	<xsd:element name="tear-down">
		<xsd:complexType>
			<xsd:sequence>
                <xsd:any minOccurs="0" maxOccurs="unbounded" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="then">
		<xsd:complexType>
			<xsd:sequence>
                <xsd:any minOccurs="0" maxOccurs="unbounded" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="var">
		<xsd:complexType>
            <xsd:simpleContent>
                <xsd:extension base="xsd:string">
                    <xsd:attribute ref="name" use="required" />
                    <xsd:attribute ref="method" />
                    <xsd:attribute ref="value" />
                    <xsd:attribute ref="attribute" />
                    <xsd:attribute ref="locator" />
                    <xsd:attribute ref="group" />
                    <xsd:attribute ref="pattern" />
                    <xsd:attribute ref="input" />
                    <xsd:attribute ref="property-value" />
                </xsd:extension>
            </xsd:simpleContent>
        </xsd:complexType>
    </xsd:element>

	<xsd:element name="while">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="condition" minOccurs="0" maxOccurs="unbounded" />
                <xsd:element ref="contains" minOccurs="0" maxOccurs="unbounded" />
                <xsd:element ref="equals" minOccurs="0" maxOccurs="unbounded" />
                <xsd:element ref="isset" minOccurs="0" maxOccurs="unbounded" />
                <xsd:element ref="and" minOccurs="0" maxOccurs="unbounded" />
				<xsd:element ref="not" minOccurs="0" maxOccurs="unbounded" />
				<xsd:element ref="then" minOccurs="0" maxOccurs="unbounded" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
